.circle {
    width: 80px;
    height: 80px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;    
    position: relative;   
}

.backgroud-green{
    background: rgb(20, 185, 102);
}

.backgroud-red{
    background: rgb(243, 52, 27);
}  
  
.backgroud-blue{
    background: rgb(159, 232, 235);
}  

.square{
      width: 100px; 
      position: relative;  
}


.circle{
    p {
        position: absolute;
        left: 25%;
        top: 25%;
        font-size: 1.2rem;
   }
}

.row {
    #drag-container{
     // overflow: scroll;
      background-color: rgb(228, 228, 228);
      min-height: 600px;
     
      
      //height: 600px;
      //position: relative;
    }
}

.inside_step .card{
    border:none !important;
}


.card-step{
    padding: 5%;
    input {
        margin-bottom: 5%;   
        width: 100%;    
    }
    button.btn {
        border-radius:0rem;
    }    
    label {
        margin: 1%;
        color: $text_light;
    }
}
.card_size {
    padding: 0;
    width: 7%;
}
.special_card {
    padding: 0;
    width: 130px;
}

.card-shadow-info {
    box-shadow: 0 0 20px $blue !important;
}

#create-wrapper{
    button {
        border-radius: 0rem;
    }    
}

.body_table_line tr td, .head_table tr th {
   text-align:center;
} 

.body_table_permission tr td {
    text-align:center !important;
 } 
 

 .staticPosition {
    position: relative !important;  
    z-index: 10;  
   // background-color: $primary_color;
  }

.staticPositionDiv {
    position: relative !important;  
    z-index: 1;  
    background-color: $primary_color;
 }


 #drag-container-wrapper{
    padding: 0px;
 }


  #drag-container-bottom{
    //background-color: black;
    position: absolute;
    margin-bottom: 0%;
    width: 100%;
    height: 100%;
    background-color: $primary_color;
    z-index: 1;  
    background-color: $primary_color;
}

