// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$primary_color: white;
$theme_color: #bf0b24;
$text_light: white;
$text_dark: black;


$success:  #218838;
$info: #17a2b8;
$primary: #007bff;
$danger: #c82333;
$warning:#ffc107;

