@import url("https://fonts.googleapis.com/css?family=Nunito");
.main_header {
  background-color: #bf0b24;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.x-spreadsheet-toolbar {
  width: 100% !important;
}

.x-spreadsheet-sheet {
  width: 100% !important;
}
.x-spreadsheet-sheet .x-spreadsheet-overlayer {
  width: 100% !important;
}

.button-group button.btn {
  border-radius: 0rem;
}
.button-group .btn-success {
  color: #fff !important;
  background-color: #218838 !important;
  border-color: #218838 !important;
}
.button-group .btn-info {
  color: #fff !important;
  background-color: #17a2b8 !important;
  border-color: #17a2b8 !important;
}
.button-group .btn-primary {
  color: #fff !important;
  background-color: #007bff !important;
  border-color: #007bff !important;
}
.button-group .btn-danger {
  color: #fff !important;
  background-color: #c82333 !important;
  border-color: #c82333 !important;
}

#actualVersionButton span button.btn {
  border-radius: 0rem;
}

[type=file] {
  height: 0;
  overflow: hidden;
  width: 0;
}
[type=file] label {
  margin: 0;
}

[type=file] + label {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin-top: 0.5rem;
  outline: none;
  padding: 0.375rem 0.75rem;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
}
[type=file] + label.btn-3 {
  border-radius: 0.25rem;
  background-color: #17a2b8;
  overflow: hidden;
}
[type=file] + label.btn-3 span {
  display: inline-block;
  height: 100%;
  transition: all 0.3s;
  width: 100%;
}

#panel-preview .card .card-body, #panel-actual .card .card-body {
  padding: 0rem !important;
}

.btn-group-vertical button {
  text-align: left;
}

.circle {
  width: 80px;
  height: 80px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
}

.backgroud-green {
  background: #14b966;
}

.backgroud-red {
  background: #f3341b;
}

.backgroud-blue {
  background: #9fe8eb;
}

.square {
  width: 100px;
  position: relative;
}

.circle p {
  position: absolute;
  left: 25%;
  top: 25%;
  font-size: 1.2rem;
}

.row #drag-container {
  background-color: #e4e4e4;
  min-height: 600px;
}

.inside_step .card {
  border: none !important;
}

.card-step {
  padding: 5%;
}
.card-step input {
  margin-bottom: 5%;
  width: 100%;
}
.card-step button.btn {
  border-radius: 0rem;
}
.card-step label {
  margin: 1%;
  color: white;
}

.card_size {
  padding: 0;
  width: 10%;
}

.special_card {
  padding: 0;
  width: 130px;
}

.card-shadow-info {
  box-shadow: 0 0 20px #3490dc !important;
}

#create-wrapper button {
  border-radius: 0rem;
}

.body_table_line tr td, .head_table tr th {
  text-align: center;
}

.body_table_permission tr td {
  text-align: center !important;
}

.staticPosition {
  position: relative !important;
  z-index: 10;
  background-color: white;
}

.staticPositionHeader {
  z-index: 11;
}

#drag-container-wrapper {
  padding: 0px;
}

#drag-container-bottom {
  padding-bottom: 5%;
}

/*# sourceMappingURL=app.css.map */
